.header {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-59);
    color: var(--unnamed-color-262626);
    text-align: left;
    font: normal normal bold 18px/22px Roboto;
    letter-spacing: 0.59px;
    color: #262626;
    opacity: 1;
}

.text_student {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-59);
    color: var(--unnamed-color-262626);
    text-align: left;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0.59px;
    color: #262626;
    opacity: 1;
}

.btn_filter {
    /* Layout Properties */
    width: 50px;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1.5px solid var(--unnamed-color-c7c5c5);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C7C5C5;
    border-radius: 9px;
    opacity: 1;
}

.input_search {
    /* Layout Properties */
    width: 100%;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C7C5C5;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0.53px;
    color: #707070;
}

.sticky-button {
    position: fixed;
    bottom: 10px;
    /* ระยะห่างจากขอบล่าง */
    left: 50%;
    transform: translateX(-50%);
    /* จัดให้ปุ่มอยู่ตรงกลาง */
    background-color: white;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.stop_point {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-59);
    color: var(--unnamed-color-1a1a1a);
    text-align: left;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0.59px;
    color: #1A1A1A;
    opacity: 1;
}

.input_stp {
    width: 100%;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #C7C5C5;
    border-radius: 5px;
    opacity: 1;
}

.input_text_stp {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #B3B3B3;
    opacity: 1;
    margin-top: 5px;
}

.number {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-59);
    color: var(--unnamed-color-1a1a1a);
    text-align: left;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0.59px;
    color: #1A1A1A;
    opacity: 1;
}

.number_btn {
    width: 100%;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0px 7px 7px 0px;
    opacity: 1;
}

.btn {
    width: 38px;
    /* UI Properties */
    border: 1px solid var(--unnamed-color-707070);
    border: 1px solid #707070;
    opacity: 1;
}


.number_input {
    width: 100%;
    height: 40px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #707070;
}


.max_input {
    width: 120px;
    height: 40px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #707070;
    padding: 5%;
}

.time_input {
    width: 120px;
    height: 40px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #707070;
    padding: 5%;
}

.text_information {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.busStop {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.input_busStop {
    width: 300px;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    opacity: 1;
    padding: 2%;
}

.input_km {
    width: 70px;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    opacity: 1;
    padding: 2%;
}

.text_km {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: center;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 3%;
}

.input_text_busStop {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-59);
    color: var(--unnamed-color-c7c5c5);
    text-align: left;
    font: normal normal normal 17px/18px Roboto;
    letter-spacing: 0.59px;
    /* color: #C7C5C5; */
    opacity: 1;
}

.text_add {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-59);
    color: var(--unnamed-color-007bff);
    text-align: left;
    font: normal normal bold 18px/22px Roboto;
    letter-spacing: 0.59px;
    /* color: #007BFF; */
    opacity: 1;
}

.text_date {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-29) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal bold 24px/29px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.btn_route {
    width: 300px;
    height: 50px;
    /* UI Properties */
    background: var(--unnamed-color-007bff) 0% 0% no-repeat padding-box;
    background: #007BFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.card {
    width: 100%;
    height: 90px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-cccccc);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    opacity: 1;
}

.dropdown {
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    opacity: 1;
}

.text {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1a1a1a);
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
}

.text_student {
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.detail_dropdown {
    height: 95px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-cccccc);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #CCCCCC;
    opacity: 1;
}

.text_name {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 17px/20px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1a1a1a);
    text-align: left;
    font: normal normal bold 17px/20px Roboto;
    letter-spacing: 0px;
    color: #1A1A1A;
    opacity: 1;
}

.text_address {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 15px/18px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 15px/18px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.btn_auto_find {
    width: 156px;
    height: 39px;
    /* UI Properties */
    background: var(--unnamed-color-007bff) 0% 0% no-repeat padding-box;
    background: #007BFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.btn_clear {
    width: 156px;
    height: 39px;
    /* UI Properties */
    background: var(--unnamed-color-fb2c36) 0% 0% no-repeat padding-box;
    background: #FB2C36 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal normal 18px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.btn_status {
    width: 86px;
    height: 30px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-31c48d);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #31C48D;
    border-radius: 5px;
    opacity: 1;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/14px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-31c48d);
    text-align: center;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #31C48D;
}

.btn_status_cancel {
    width: 86px;
    height: 30px;
    /* UI Properties */
    /* background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-fb2c36); */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FB2C36;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/14px var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-fb2c36);
    text-align: center;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #FB2C36;
}
